@import 'styles/global.scss';

.sectionRisingFree{
    .element {
        background: $colorAccent;
        width: 100vw;
        height: 2em;
        left: 0;
        position: fixed;
        top: calc(37vw - 1em);
    }
    img {
        width: 70vw;
        height: 70vw;
        max-height: 100vh;
        max-width: 100vh;
        margin: auto;
        position: relative;
        top: 0;
        @media screen and (max-width: $screenSmall) {
            position: absolute;
            width: 100vw;
            height: 100vw;
            left: 0;
        }
    }
    .iframe {
        width: 100vw;
        height: 2736px;
        position: absolute;
        top: 70vw;
        left: 0;
        border: none;
        @media screen and (max-width: $screenSmall) {
            height: 1380px;
            top: 100vw;
        }
    }
}