@font-face {
    font-family: "Sans";
    font-display: Block;
    src: url('../../static/font/hancockaudioSans.woff') format("woff");
}
@font-face {
    font-family: "Serif";
    font-display: Block;
    src: url('../../static/font/hancockaudioSerif.woff') format("woff");
}