@import 'styles/global.scss';

body {
    padding: 0 calc(5vw + 48px);
}
.background {
    background: $colorDefault;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 200%;
    transform: translateX(0%);
    &:global(.Plx--in-1),
    &:global(.Plx--between),
    &:global(.Plx--in-2),
    &:global(.Plx--below) {
        background: linear-gradient(90deg, $colorPrimary 50%, $colorDefault 50%) !important;
    }
    @media (max-width: 900px) {
        display: none;
    }
}
.accent {
    background-color: $colorAccent;
    width: 0.4ch;
    height: 0.15ch;
    position: fixed;
    top: calc(50vh - 2em);
    left: calc(5vw + 48px);
    z-index: 2;
    @extend %fontSizeH1;
    &:global(.Plx--below) {
        top: 50vh;
    }
}
.scrollIndicator {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    div {
        width: 2px;
        background: $colorAccent;
        height: 32px;
        transform-origin: top;
    }
    a {
        background: transparent;
        font-family: "Serif";
        color: $colorAccent;
        padding: 0.5em;
        cursor: pointer;
        letter-spacing: 0.3em;
    }
}
.sectionHello {
    width: 100%;
    min-height: 100vh;
    display: flex;
    .aboutMe {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1 {
            position: relative;
            z-index: 1;
            .containerBackground {
                position: absolute;
                background: $colorDefault;
                width: 100%;
                height: 100%;
                padding: 0.8em;
                z-index: -1;
                top: -1em;
                left: calc(-5vw - 48px);
                box-shadow: 0px 28px 94px rgba(0, 0, 0, 0.2);
                opacity: 0.7;
            }
            span {
                display: block;
                &:nth-of-type(2) {
                    h4 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1em;
                        div {
                            background: $colorPrimary;
                            height: 2px;
                            width: 100%;
                            min-width: 1em;
                            margin: 0 0.5em;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
    .anchorLink {
        align-self: flex-end;
    }
    .me {
        position: fixed;
        right: 0;
        top: 10vh;
        width: 50%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: -1;
        top: 0;
        width: 100vw;
        height: 100vh;
        min-width: 768px;
        img {
            opacity: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.sectionBio {
    .bio {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3 {
            padding-bottom: 0.5em;
        }
    }
    padding-bottom: 5vh;
}

@include for-phone-only {
    .sectionBio .bio {
        width: 100%;
        padding-bottom: 18vh;
    }
}

.sectionMusic {
    //display: none;
  }