@import 'styles/global.scss';

body {
    padding: 0 calc(5vw + 48px);
}
.background {
    background: $colorDefault;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 200%;
    transform: translateX(0%);
    &:global(.Plx--in-1),
    &:global(.Plx--between),
    &:global(.Plx--in-2),
    &:global(.Plx--below) {
        background: linear-gradient(90deg, $colorPrimary 50%, $colorDefault 50%) !important;
    }
    @media (max-width: 900px) {
        display: none;
    }
}
.accent {
    background-color: $colorAccent;
    width: 0.4ch;
    height: 0.15ch;
    position: fixed;
    top: calc(50vh - 2em);
    left: calc(5vw + 48px);
    z-index: 2;
    @extend %fontSizeH1;
    &:global(.Plx--below) {
        top: 50vh;
    }
}
.accentWelcome {
    background-color: $colorAccent;
    position: fixed;
    z-index: 2;
    @extend %fontSizeH1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    animation: accentWelcomeHeight 0.3s ease-in-out 0.2s forwards,
               accentWelcomeWidth 0.3s ease-in-out 0.5s forwards;

    @keyframes accentWelcomeHeight {
        0% {
            height: 100vh;
            top: 0;
        }
        100% {
            height: 0.15ch;
            top: calc(50vh - 2em);
        }
    }
    @keyframes accentWelcomeWidth {
        0% {
            width: 100vw;
            left: 0;
        }
        99% {
            left: calc(5vw + 48px);
            width: 0.4ch;
            opacity: 1;
        }
        100% {
            left: calc(5vw + 48px);
            width: 0.4ch;
            opacity: 0;
        }
    }
}
.enterWrapper[data-siteentered="true"] {
    display: none;
}
.enter {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $colorAccent;
    color: $colorAccent;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3em;
    font-family: "Serif";
    text-align: center;
}
:global(#enter) {
    animation: animateOut 0.4s ease-in-out 2s reverse backwards;
}
@keyframes animateOut {
    0% {
        opacity: 1;
        pointer-events: auto;
    }
    99% {
        opacity: 0;
        pointer-events: auto;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
:global(#enterHidden) {
    animation: animateOut 0.2s ease-in-out;
    animation-fill-mode: forwards;
}
.scrollIndicator {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    div {
        width: 2px;
        background: $colorAccent;
        height: 0;
        transform-origin: top;
    }
    a {
        background: transparent;
        font-family: "Serif";
        color: $colorAccent;
        padding: 0.5em;
        cursor: pointer;
        letter-spacing: 0.3em;
        opacity: 0;
    }
    &[data-siteentered="true"] {
        a {
            animation: fadeIn 0.3s ease-in-out 1.5s forwards;
        }
        div {
            animation: growIn 0.4s ease-in-out 1.8s forwards;
            @keyframes growIn {
                0% {height: 0;}
                100% {height: 32px}
            }
        }
    }
}
.sectionHello {
    width: 100%;
    min-height: 100vh;
    display: flex;
    .aboutMe {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1 {
            position: relative;
            z-index: 1;
            .containerBackground {
                position: absolute;
                background: $colorDefault;
                padding: 0.8em;
                z-index: -1;
                left: calc(-5vw - 48px);
                box-shadow: 0px 28px 94px rgba(0, 0, 0, 0.2);
                opacity: 1;
                width: 100vw;
                height: 100vh;
                top: calc(-50vh + 50%);
                &[data-siteentered="true"] {
                    animation: backgroundWelcomeHeight 0.3s ease-in-out 0s forwards,
                              backgroundWelcomeWidth 0.4s ease-in-out 0.1s forwards;
                }
                @keyframes backgroundWelcomeHeight {
                    0% {
                        height: 100vh;
                        top: calc(-50vh + 50%);
                    }
                    100% {
                        height: 100%;
                        top: -1em;
                    }
                }
                @keyframes backgroundWelcomeWidth {
                    0% {
                        width: 100vw;
                    }
                    100% {
                        width: 100%;
                    }
                }
            }
            .abel, .hancock {
                opacity: 0;
                display: block;
                @keyframes fadeInDown {
                    0% {
                        opacity: 0;
                        transform: translateY(-10%);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            .abel {
                animation: fadeInDown 0.6s ease-in-out 0.8s forwards;
            }
            .hancock {
                animation: fadeInDown 0.6s ease-in-out 1s forwards;
                h4 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1em;
                    @keyframes fadeIn {
                        0% {opacity: 0}
                        100% {opacity: 1}
                    }
                    span {
                        opacity: 0;
                        &:nth-of-type(1) {
                            animation: fadeIn 0.4s ease-in-out 1.5s forwards
                        }
                        &:nth-of-type(2) {
                            animation: fadeIn 0.4s ease-in-out 1.9s forwards
                        }
                    }
                    div {
                        background: $colorPrimary;
                        height: 2px;
                        width: 100%;
                        min-width: 1em;
                        margin: 0 0.5em;
                        opacity: 0.6;
                        transform: scaleX(0);
                        transform-origin: left;
                        animation: scaleX 0.3s ease-in-out 1.7s forwards;
                        @keyframes scaleX {
                            0% {transform: scaleX(0)}
                            100% {transform: scaleX(1)}
                        }
                    }
                }
            }
        }
    }
    .anchorLink {
        align-self: flex-end;
    }
    .me {
        position: fixed;
        right: 0;
        top: 10vh;
        width: 50%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: -1;
        top: 0;
        width: 100vw;
        height: 100vh;
        min-width: 768px;
        img {
            opacity: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.sectionBio {
    .bio {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3 {
            padding-bottom: 0.5em;
        }
    }
    padding-bottom: 5vh;
}

@include for-phone-only {
    .sectionBio .bio {
        width: 100%;
        padding-bottom: 18vh;
    }
}