@import 'styles/global.scss';

body {
    padding: 0 calc(5vw + 48px);
}
.background {
    background: $colorDefault;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.accent {
    background-color: $colorAccent;
    width: 0.4ch;
    height: 0.15ch;
    position: fixed;
    top: calc(50vh - 2em);
    left: calc(5vw + 48px);
    @extend %fontSizeH1;
    &:global(.Plx--below) {
        top: 50vh;
    }
}
.sectionHello {
    width: 100%;
    min-height: 100vh;
    display: flex;
    .aboutMe {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1 span {
            display: block;
            &:nth-of-type(2) {
                h4 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1em;
                    div {
                        background: $colorPrimary;
                        height: 2px;
                        width: 100%;
                        min-width: 1em;
                        margin: 0 0.5em;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .me {
        position: fixed;
        right: 0;
        top: 10vh;
        width: 50%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: -1;
        img {
            opacity: 0.75;
            max-height: 100%;
        }
    }
}

.sectionBio {
    .bio {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    padding-bottom: 15vh;
}

@include for-phone-only {
    .sectionBio .bio {
        width: 100%;
    }
}