@import 'src/styles/global.scss';
.sectionContact {
    width: 100%;
    margin-left: calc(-5vw - 48px);
    padding: 0 calc(5vw + 48px);
    overflow: hidden;
    background: $colorDefault;
}
.header {
    @extend %fontSizeDisplaySmall;
    font-family: $fontSerif;
    width: 100%;
    text-align: center;
    color: $colorPrimary;
    opacity: 0.05;
    margin: auto;
    margin-bottom: -0.2em;
    padding: 0;
    pointer-events: none;
    transform: translateY(-70%);
    text-transform: uppercase;
    line-height: 150%;
    font-family: "Sans";
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        &:last-of-type {
            justify-content: flex-end;
        }
        label {
            font-family: $fontSerif;
            color: $colorPrimary;
            @extend %fontSizeH2;
            sup {
                font-size: 50%;
                opacity: 0;
                transition: 0.05s;
            }
        }
        input,
        textarea {
            background: linear-gradient(180deg, $colorDefault 0%, $colorAccent 0%, $colorAccent 100%) no-repeat;
            border: 4px solid rgba(255,0,0,0);
            padding: 0.5em;
            font-family: $fontSans;
            @extend %fontSizeBase;
            height: 1.9em;
            max-width: 750px;
            width: 50vw;
            &::placeholder {
                color: $colorPrimary;
                opacity: 0;
                text-align: center;
            }
            &:focus {
                outline: none;
                background: linear-gradient(180deg, $colorDefault 94%, $colorAccent 94%, $colorAccent 100%) no-repeat;
            }
            &:global(.error) {
                background: linear-gradient(180deg, $colorDefault 94%, $colorError 94%, $colorError 100%) no-repeat;
            }
        }
        textarea {
            height: 4.2em;
            &:focus {
                background: linear-gradient(180deg, $colorDefault 98%, $colorAccent 98%, $colorAccent 100%) no-repeat;
            }
            &:global(.error) {
                background: linear-gradient(180deg, $colorDefault 98%, red 98%, red 100%) no-repeat;
            }
        }
        &:last-of-type {
            flex-direction: row;
        }
    }

    button {
        border: none;
        margin: 1em 0.5em;
        padding: 0;
        font-family: $fontSerif;
        @extend %fontSizeBase;
        height: 1.4em;
        max-width: 750px;
        width: 50vw;
        box-sizing: content-box;
        color: $colorAccent;
        background: $colorDefault;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font-size (320px, 1920px, 20px, 52px);
        cursor: pointer;
        &:hover {
            svg {
                transform: translateX(20%);
            }
        }
        svg {
            width: 0.8em;
            padding-left: 0.2em;
            transition: 0.15s ease-in-out;
        }
        &:disabled {
            opacity: 0.5;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

:global(.error) + label sup {
    color: $colorError;
    opacity: 1;
}

@include for-phone-only {
    .sectionContact {
        .header {
            letter-spacing: 0.1em;
        }
        ul li {
            flex-direction: column-reverse;
            width: 100%;
            input,
            textarea,
            button {
                width: calc(100% - 1em);
            }
        }
    }
}
@media (max-width: 900px) {
    .sectionContact {
        overflow: visible;
    }
}